.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 6px;

  @media (min-width: 960px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.button {
  cursor: pointer;
  background-color: #fafafa;
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  font-size: 18px;

  &:not(:disabled):hover,
  &.isSelected {
    border: 1px solid black;
  }

  &:disabled {
    cursor: default;
  }
}

.lowStock {
  margin-top: 12px;
  font-weight: bold;
}
